:root {
  --text-color: black;
  --bg-color: white;
  --border-color: silver;
  --nav-color: black;
  --link-color: blue;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
    --bg-color: black;
    --border-color: silver;
    --nav-color: white;
    --link-color: skyblue;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  color: var(--text-color);
  background-color: var(--bg-color);
}

body {
  max-width: 800px;
  margin: 0 auto;
  font-family: "Nunito Sans", sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.5;
}

main {
  padding: 2rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1.33rem;
  margin-bottom: 1rem;
}

h4 {
  font-weight: 700;
}

p {
  margin-bottom: 0.5rem;
}

a {
  color: var(--link-color);
}

table {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--border-color);
  text-align: left;
}

thead th {
  border-bottom-width: 2px;
}

header {
  padding: 2rem 2rem 1rem;
  border-bottom: 1px solid var(--border-color);
}

.brand {
  text-align: center;
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

nav a {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem 1rem;
  color: var(--nav-color);
  text-decoration: none;
  white-space: nowrap;
}

.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

@media screen and (min-width: 640px) {
  .brand {
    text-align: left;
    font-size: 4rem;
  }

  nav {
    flex-direction: row;
    gap: 2rem;
  }

  nav a:last-of-type {
    margin-left: auto;
  }
}
