---
interface Props {
  lang: "fi" | "en";
}

const { lang } = Astro.props;
const path = new URL(Astro.request.url).pathname;

const linksMap = {
  fi: {
    logo: { label: "Kameraseura", url: "/" },
    pages: [
      { label: "Jäsenyys", url: "/" },
      { label: "Pimiö", url: "/pimio" },
      { label: "Ihmiset", url: "/ihmiset" },
      { label: "In English", url: "/en" },
    ],
  },

  en: {
    logo: { label: "Camera Club", url: "/en" },
    pages: [
      { label: "Membership", url: "/en" },
      { label: "Darkroom", url: "/en/darkroom" },
      { label: "People", url: "/en/people" },
      { label: "Suomeksi", url: "/" },
    ],
  },
};

const links = linksMap[lang];

const href = (url: string) => "/vastavalo-website" + url;
---

<header class="border-b border-neutral-200">
  <div id="logo-area" class="bg-neutral-900 px-8 py-6">
    <a href={href(links.logo.url)}>
      <div class="text-xl text-neutral-100">{links.logo.label}</div>
      <div class="text-5xl font-bold text-neutral-100">Vastavalo</div>
    </a>
  </div>
  <nav class="flex flex-col items-center gap-8 py-6 px-8 sm:flex-row">
    {
      links.pages.map((page) => (
        <>
          <a
            href={href(page.url)}
            class:list={[
              "whitespace-nowrap text-base text-neutral-900 sm:last-of-type:ml-auto",
              {
                "font-bold": path === href(page.url),
              },
            ]}
          >
            {page.label}
          </a>
        </>
      ))
    }
  </nav>
</header>
