---
import { getLanguageFromUrl, translations } from "lib/i18n";

const lang = getLanguageFromUrl(Astro.url);
const t = translations[lang];
---

<div
  class="bg-black p-6 text-center font-title text-4xl font-bold uppercase text-white lg:p-8 lg:text-6xl"
>
  {t.vastavalo}
</div>
