---
import "@fontsource/nunito-sans";
import "@fontsource/overpass";

import type { MarkdownLayoutProps } from "astro";
import Logo from "components/Logo.astro";
import Navigation from "components/Navigation.astro";
import RootLayout from "layouts/RootLayout.astro";

type Props = MarkdownLayoutProps<{
  title: string;
}>;

const {
  frontmatter: { title },
} = Astro.props;
---

<RootLayout title={title}>
  <header>
    <Logo />
    <Navigation />
  </header>
  <main class="container mx-auto p-4">
    <article class="prose prose-neutral dark:prose-invert">
      <slot />
    </article>
  </main>
  <footer></footer>
</RootLayout>
