@import url("reset.css");
@import url("fonts.css");

:root {
  --color-bg: #fffbeb;
  --color-text: black;
  --color-link: darkblue;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-bg: #0c0a09;
    --color-text: white;
    --color-link: lightblue;
  }
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: "Averia Serif Libre", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 300;
  max-inline-size: 60ch;
  margin-inline: auto;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Averia Libre", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.25;
  text-wrap: balance;
  margin-block-start: 0.75rem;
  margin-block-end: 0.75rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  margin: 1rem 0;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

a {
  color: var(--color-link);
  text-decoration: underline;
}

header {
  padding-block-start: 1rem;
  padding-block-end: 2rem;
  padding-inline: 1rem;
}

header h1 {
  font-size: 2.75rem;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 1.5rem;
}

header nav ul {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

main nav ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

nav ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

header h1 a,
nav a {
  color: var(--color-text);
  font-weight: 700;
  text-decoration: none;
}

nav a {
  white-space: nowrap;
}

nav a.current,
nav a:hover {
  text-decoration: underline;
}

article {
  border: 2px solid var(--color-text);
  padding-block: 1.25rem;
  padding-inline: 1rem;
}

article + article {
  margin-block-start: 2rem;
}

table {
  width: 100%;
  border-spacing: 0;
}

th,
td {
  text-align: left;
  padding-block: 0.25rem;
}

th {
  border-block-end: 2px solid var(--color-text);
}

tbody th {
  padding-block-start: 0.5rem;
}
